* {
  padding: 0;
  font-family: "Istok Web", sans-serif;
}

ul {
  list-style-type: none;
}

body {
    background:url(./img/background_purple.svg) no-repeat;
    background-size: 100%;
}

/* Header */
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-nav {
  max-width: 1446px;
  margin: 0 auto;
  display: flex;
  align-items: stretch;
  width: 100%;
  justify-content: space-between;
}

.header-nav__list {
    text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  font-size: 13px;
  line-height: 19px;
  /* color:#FFFFFF; */
  opacity: 0.6;
}

.header-nav__social {
  display: flex;
  align-items: center;
  width: 10%;
  justify-content: space-between;
}
