* {
  padding: 0;
  font-family: "Istok Web", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  background-size: 100%;
  background: radial-gradient(50% 50% at 50% 50%, #463734 0%, #1e2034 100%)
    no-repeat;
  background-size: cover;
  /* background: url(/img/background_purple.svg) no-repeat; */
  background-attachment: fixed;
  margin: 0;
}

.wrapper {
  max-width: 1446px;
  margin: 0 auto;
  position: relative;
}

/*-------------------------------------------------- Header-------------------------------------------- */
.header {
  display: flex;
  align-items: center;
  margin-bottom: 159px;
  position: sticky;
  z-index: 3;
  height: 100px;
}

.header-nav {
  margin: 0 auto;
  display: flex;
  align-items: stretch;
  width: 100%;
  justify-content: space-between;
}

.header-nav__list {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  font-size: 13px;
  line-height: 19px;
  font-weight: 600;
  letter-spacing: 1.85px;
}

.header-nav__list a {
  color: #ffffff;
  opacity: 0.6;
}

.header-nav__list a:hover {
  opacity: 1;
  transition: 0.5s;
}

.header-nav__social {
  display: flex;
  align-items: center;
  width: 10%;
  justify-content: space-between;
}

/*--------------------------------------- Heading---------------------------------------------- */

.promo {
  min-width: 34%;
  display: flex;
  flex-direction: column;
  margin-bottom: 120px;
}

.job_description {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #eadba8;
}

.promo h1 {
  color: #ffffff;
  font-weight: bold;
  font-size: 38px;
  line-height: 56px;
  letter-spacing: 2px;
  position: relative;
}

h1 span {
  color: #eadba8;
}
.couple {
  z-index: -1;
  position: absolute;
  right: 0;
  top: 10%;
}

.heading h1 {
  margin-bottom: 75px;
}

/*------------------------------------ Блок с кнопкой "Начать зарабатывать" ----------------------------------------*/

.earning {
  display: flex;
}

.job_btn {
  text-transform: uppercase;
  background-color: #f9354a;
  border-radius: 50px;
  padding: 15px 34px 15px 69px;
  border: none;
  color: #fff;
  letter-spacing: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 23px;
  position: relative;
  margin-right: 2%;
  cursor: pointer;
  outline: rgb(30, 32, 52);
}

.job_btn::before {
  background: url(./img/header/phone_button.svg) no-repeat;
  position: absolute;
  content: "";
  width: 23px;
  height: 25px;
  left: 35px;
}

/*---------------------------------------------------- Блок с кнопкой чата и обратным звонком ---------------------------------------*/
.help {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1920px;
  margin: 0 auto; 
}

.help .btn_chat {
  border-radius: 10px;
  background-image: url(./img/header/chat_btn.png);
  width: 380px;
  height: 69px;
  border: none;
  border-radius: 10px;
  margin-left: 90px;
  cursor: pointer;
}

.help .btn_callback {
  width: 94px;
  height: 94px;
  background-image: url(./img/header/btn_callback.svg);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  margin-right: 90px;
}